.logo {
    text-align: center;
    margin: 50px;
}

#image {
    width: 350px;
    height: auto;
}

.nav {
    padding:10px;
    text-align: right;
}

#form {
    text-align: center;
    font-size: large;
}

.sbar {
    width: 500px;
    height: 35px;
    border-radius: 30px;
    border-width: 1px;
    font-size: 17px;
    padding-left: 10px;

    
}

div > input {
    width:130px; 
    height:30px;

}